@CHARSET "UTF-8";
a.tooltips {
  position: relative;
  display: inline;
  margin-left: 6px;
}
a.tooltips:after {
	content:'?';
    font-weight: bold;
    color:#fff;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    position: absolute;
}
a.tooltips span {
  position: absolute;
  width: 240px;
  color: #FFFFFF;
  background: #000000;
  height: auto;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.7;
  left: 100%;
  top: 50%;
  margin-top: -17px;
  margin-left: 35px;
  z-index: 999;
}
.settings-servers-icon{
	margin-top: 5px;
	margin-left: 10px;
	text-decoration: none !important;
}